*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

.dashboard{
  height:100vh;
  background:#e8a5a5;
}

.header{
  background:#2563eb;
  color:white;
  padding:20px;
}

.content{
  display:flex;
}

.sidebar{
  width:220px;
  background:#1f2937;
  min-height:calc(100vh - 70px);
  padding:20px;
}

.sidebar button{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:none;
  border-radius:6px;
  background:rgb(97, 159, 216);
  cursor:pointer;
}

.main{
  flex:1;
  padding:20px;
}

.cards{
  display:flex;
  gap:20px;
}

.card{
  flex:1;
  background:white;
  height:140px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.recent{
  margin-top:30px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.recent ul{
  margin-top:10px;
  padding-left:20px;
}